/*FONTS*/
@font-face {
    font-family: Montserrat-800;
    src: url("../fonts/Montserrat-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-600";
    src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-500";
    src: url("../fonts/Montserrat-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-400";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
/*STYLES*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner {
    height: 30rem;
}
.banner-image {
    width: 100%;
    height: 100%;
}
.banner-content {
    width: 45%;
    position: absolute;
    top: 5rem;
    left: 7rem;
    line-height: 3rem;
}
h1.banner-title {
    font-family: "Montserrat-800";
    color: white;
    font-size: 40px;
}
p.banner-sub-text {
    font-family: "Montserrat-500";
    color: white;
    font-size: 16px;
    line-height: 26px;
    padding-top: 20px;
    text-align: justify;
    width: 55%;
}
a.banner-cta {
    font-family: "Montserrat-500";
    background-color: yellow;
    padding: 18px 40px 18px 40px;
    border-radius: 2px;
    line-height: 7rem;
    text-decoration: none;
    font-size: 18px;
    color: #0094d9;
}
img.banner-cta-image {
    margin-bottom: -2px;
}
.contact-us {
    width: 100%;
    height: 110vh;
}
img.banner-contact-us {
    width: 100%;
    height: 110vh;
}
.banner-plumbing {
    width: 100%;
    height: 50vh;
}
.contact-content {
    position: absolute;
    left: 8rem;
    width: 20%;
    top: 48rem;
}
p.contact-title {
    font-family: "Montserrat-500";
    font-weight: 700;
    color: #0094d9;
    font-size: 34px;
    line-height: 40.8px;
}
p.contact-sub-text {
    font-weight: 500;
    color: #58595b;
    font-size: 17px;
    line-height: 30px;
    margin-top: 10px;
    font-family: "Montserrat-500";
    text-align: justify;
}
.form-holder {
    position: absolute;
    width: 57%;
    right: 3rem;
    top: 42rem;
    background-color: white;
    padding-right: 4rem;
    padding-left: 4rem;
    padding-bottom: 6rem;
    padding-top: 2rem;
    border-radius: 8px;
}
button.btn.btn-primary {
    color: blue;
    background-color: yellow;
    width: 163px;
    height: 52px;
    border-color: yellow;
    border-radius: 0px;
    position: absolute;
    top: 26rem;
}
label {
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #595757;
    font-family: 'Montserrat-500'
}
input.form-control {
    height: calc(1.5em + 0.75rem + 15px);
    border-radius: 0px;
}
select.form-control {
    height: calc(1.5em + 0.75rem + 15px);
    border-radius: 0px;
}
.plumbing-content {
    position: absolute;
    left: 8rem;
    width: 40%;
    top: 79rem;
}
p.plumbing-title {
    font-family: "Montserrat-500";
    font-weight: 700;
    color: yellow;
    font-size: 34px;
    line-height: 40.8px;
}
p.plumbing-description {
    font-weight: 500;
    color: white;
    font-size: 17px;
    line-height: 30px;
    margin-top: 10px;
    font-family: "Montserrat-500";
    text-align: justify;
}
.main-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 96rem;
}
.tab-box {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
    padding:73px;
    
}
button.tab-btn {
    font-family: 'Montserrat-800';
    color: rgb(165, 164, 164);
    padding:1rem;
    border-radius:10px;
    outline:none;
    border:none;
    background:none;
    transition: color 1s;
}
.tab-btn:focus {
    border: none;
    outline: none;
}
.tab-btn.active {
    background-color:yellow;
    color: rgba(0, 0, 255, 0.938);  
    font-family: 'Montserrat-800';
    outline:none;
}
/*pseduo tab arrow*/
/* .tab-btn.active:after {
    content: '';
    position: absolute;
    width: 0;
    height: 182;
    left: 14%;
    bottom: -10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #fff000;
} */
.content-box .content {
    display:none;
}
.content.active {
    display: block;
}
.inner-content-benifits {
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.inner-content-benifits p {
    width: 49%;
    margin-left: 10px;
}  
.inner-content-benifits img {
    width: 6%; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 10px; /* Add spacing between the image and paragraph */
}
.inner-content-application {
    display: flex;
    align-items: center;
    padding-top: 10px;
}
.inner-content-application p {
    width: 49%;
    margin-left: 10px;
}  
.inner-content-application img {
    width: 6%; /* Adjust the width as needed */
    height: auto; /* Maintain the aspect ratio */
    margin-right: 10px; /* Add spacing between the image and paragraph */
}
.benefits {
    display:none;
}
.benefits.active {
    display: block;
    padding-top: 10px;
}
.application {
    display:none;
}
.application.active {
    display: block;
    padding-top: 10px;
}
.content-box {
    width: 100%;
    padding-left: 6rem;
    padding-right: 15rem;
}
.content p {
    font-family: 'Montserrat-500';
    letter-spacing: 1px;
}
.inner-tab {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    font-family: 'Montserrat-500';
}
.inner-btn {
    padding: 6px;
    background: none;
    outline:none;
    border:none;
    color: darkgray;
}
.inner-btn.active {
    color: #12487B;
}
button.inner-btn:focus {
    border: none;
    outline: none;
}
.content-tab-image {
    position: absolute;
    top:26rem;
    left: 50rem;
}
.content-tab-image img {
    width: 100%;
    height: 22rem;
}
.why-bg {
    background-image: url(../assets/why-bg.png);
    min-height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 50rem;
}
.section-heading p {
    text-align: center;
    line-height: 12rem;
    font-weight: 700;
    font-family: 'Montserrat-800';
    font-size: xx-large;
    color: #0094d9;
}
.mycard {
    background-color: transparent;
    border: none;
    width:250px
}
.circle {
    border-radius: 50%!important;
    border: thick;
    border-color: #0094d9;
    border-style: solid;
    width: 28%;
    border-width: 2px;
}
img.card-img-top.rounded-circle.circle {
    width: 25%;
    transform: translate(13px, 0px);
}
.card-body .card-title {
    margin-bottom: 0.75rem;
    font-family: 'Montserrat-800';
    color: #0094d9;
}
.card-text:last-child {
    font-family: 'Montserrat-500';
    margin-bottom: 0;
    color: #58595b;
}
.partner-bg {
    background-image: url(../assets/partner-bg.png);
    min-height: 650px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    top: 50rem;
}
.partner-heading {
    font-weight: 700;
    color: #0094d9;
    font-size: 33px;
    line-height: 2rem;
    font-family: 'Montserrat-800';
}
.partner-subtext {
    font-weight: 600;
    color: #0094d9;
    font-size: 15px;
    line-height: 24px;
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
}
.partner-container {
    padding-top: 100px;
    padding-bottom: 60px;
    width:79%
}
.row .col-md-5 {
    padding-left: 5rem;
    bottom:4rem;
    top:1rem
}
.accordion {
    border-left: 3px solid;
    border-color: darkgrey;
    padding-left: 38px;
    width: 150%;
}
 .accordion-content {
    color: #58595b7a;
    font-family: 'Montserrat-500';
    display: none;
}
.accordion-content.active {
    color: #0e0e0ed4;
    font-family: 'Montserrat-500';
    display: block;
}
.accordion-heading {
    color: #58595b7a;
    font-family: 'Montserrat-500';
    display: block;
    font-size: 16px;
}
.accordion-heading.active  {
    color: #0094d9;
    font-family: 'Montserrat-600';
    display: block;
    font-size: 20px;
}
.partner-img {
    padding-left: 40px;
}
.partner-cta {
    font-family: 'Montserrat-800';
    color: #0094d9;
    padding:1rem;
    outline:none;
    border:none;
    background:none;
    background-color: yellow;
    top:50px;
    left:4rem;
    position: relative;
}
.card {
    margin: 1em auto;
}
.testimonial-bg {
    background-image: url(../assets//testimonials-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 47rem;
    height: 100vh;
}
.testimonial-heading {
    font-family: 'Montserrat-800';
    font-size:34px;
    color:yellow;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
} 
.cards.container {
    display: flex;
    justify-content: space-around;
}
.col-md-4 .card-box {
    background-color: transparent;
    border: none;
}
p.card-text.card-testimonial {
    color: whitesmoke;
    font-family: 'Montserrat-500';
}
.card-body.testimonial-body {
    padding: 0px;
    padding-top: 25px;
}
.faq-bg {
    background-image: url(../assets//faq-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 47rem;
    height: 100vh;
}
.faq-heading {
    font-family: 'Montserrat-800';
    font-size:34px;
    color:#0094d9;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
}
.col-md-6.faq-box {
    display: table-cell;
}
.faq-accordion-item {
    border: 2px solid skyblue;
    margin-bottom: 32px;
    padding-left: 20px;
    padding-right: 20px;
}
.faq-accordion-title {
    font-family: 'Montserrat-800';
    font-size: 21px;
    color:#0094d9;
    padding-top: 10px;
}
.faq-accordion-content {
    font-family: 'Montserrat-500';
    padding-top: 5px;
    padding-bottom: 10px;
    display: none;
}
.faq-accordion-content.active {
    font-family: 'Montserrat-500';
    padding-top: 5px;
    padding-bottom: 10px;
    display: block;
}
.faq-img {
    position: relative;
    left: 28rem;
    bottom: 3rem;
}
.faq-img.active {
    position: relative;
    left: 28rem;
    bottom: 10rem;
}